<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="brand">
      <div class="brand-items">
        <div class="navbar_header">
          <a href=""><i class="fas fa-bars"></i></a>
        </div>
        <div class="brand-name">New York City, NY</div>
      </div>
      <div class="brand-actions">
        <div class="left-nav-item">
          <a href=""><i class="fas fa-envelope"></i></a>
        </div>
        <div class="left-nav-item">
          <a href=""><i class="fas fa-bell"></i></a>
        </div>
        <div class="left-nav-item">
          <a href=""><i class="fas fa-user-circle"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
