:root {
  --primary-color: #0f172a;
  --secondary-color: #5b21b6;
  --secondary-color-light: #c4b5fd;
  --white: #f8fafc;
  --off-white: #cbd5e1;
  --error: #dc2626;
  --sucess: #16a34a;
  --hover: #ede9fe;
  --hover_chip: #6b7280;
  --chip-background: #94a3b8;
}

.tab__layout {
  width: 25rem;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: var(--white);
}

.tab-sections {
  display: none;
}

.active {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* border-bottom: 2px solid #64748b; */
}
.tab-index {
  cursor: pointer;
  color: var(--off-white);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
}
.tab-index.active {
  color: var(--secondary-color-light);
  border-bottom: 3px solid var(--secondary-color-light);
  /* background-color: rgba(125, 211, 252, 0.1); */
  background-color: rgba(178, 130, 255, 0.1);
  border-radius: 5px;
}

.tab-index:hover {
  color: var(--secondary-color-light);
  border-radius: 5px;
  background-color: rgba(178, 130, 255, 0.1);
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}
.tab_i {
  padding: 0.5rem;
}

.other-tabs {
  margin: 1rem;
  margin-top: 2rem;
}
.go-to-tab {
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--secondary-color-light);
  background-color: var(--primary-color);
  border-radius: 5px;
}
