<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2>Tab style 3</h2>
    <div class="tab__layout">
      <ul class="tabs">
        <li id="#one" class="tab-index active">
          <i class="fas fa-clock tab_i"></i>Tab One
        </li>
        <li id="#two" class="tab-index">
          <i class="fas fa-location-arrow tab_i"></i>Tab Two
        </li>
        <li id="#three" class="tab-index">
          <i class="fas fa-heart tab_i"></i>Tab Three
        </li>
      </ul>

      <div class="tab-content">
        <div id="one" class="tab-sections active">
          <h2>Heading</h2>
          <p>Some info 1</p>
        </div>

        <div id="two" class="tab-sections">
          <h2>Heading</h2>
          <p>Some info</p>
        </div>

        <div id="three" class="tab-sections">
          <h2>Heading</h2>
          <p>Some info</p>
        </div>
      </div>
    </div>

    <h2>Tab style 3</h2>
    <div class="tab__layout">
      <ul class="tabs">
        <li id="#one" class="tab-index active">
          <i class="fas fa-clock tab_i"></i>
        </li>
        <li id="#two" class="tab-index">
          <i class="fas fa-location-arrow tab_i"></i>
        </li>
        <li id="#three" class="tab-index">
          <i class="fas fa-heart tab_i"></i>
        </li>
      </ul>

      <div class="tab-content">
        <div id="one" class="tab-sections active">
          <h2>Heading</h2>
          <p>Some info 1</p>
        </div>

        <div id="two" class="tab-sections">
          <h2>Heading</h2>
          <p>Some info</p>
        </div>

        <div id="three" class="tab-sections">
          <h2>Heading</h2>
          <p>Some info</p>
        </div>
      </div>
    </div>
    <div class="other-tabs">
      <a href="./tab1.html" class="go-to-tab">Go to tab 1</a>
      <a href="./tab2.html" class="go-to-tab">Go to tab 2</a>
    </div>

    <script src="script.js"></script>
  </body>
</html>
