<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Card.css" />

    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Card Section</h1>

    <div class="card_layout">
      <div class="card__outline">
        <!-- <div class="card__media"> -->
        <img src="https://cdn.wallpapersafari.com/52/47/VKjh5B.jpg" alt="" />
        <!-- </div> -->
        <div class="card__content">
          <div class="card__heading">Black Panther</div>
          <div class="card__author">by Kurt Wagner</div>
          <div class="card__info">
            Visit ten places on our planet that are undergoing the biggest
            changes today.Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.
          </div>
        </div>
        <div class="card__actions">
          <div class="card__read"><a href="">READ</a></div>
          <div class="card__bookmark"><a href="">BOOKMARK</a></div>
          <div class="card__like">
            <a href=""><i class="fas fa-share-alt"></i></a>
          </div>
          <div class="card__share">
            <a href=""><i class="far fa-heart"></i></a>
          </div>
          <div class="card__vert">
            <a href=""><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->

      <div class="card__outline">
        <div class="card__media">
          <img
            class="img__card-2"
            src="https://cdn.wallpapersafari.com/52/47/VKjh5B.jpg"
            alt=""
          />
          <div class="card__content--card_2">
            <div class="card__heading card_2">Black Panther</div>
            <div class="card__author card_2">by Kurt Wagner</div>
          </div>
        </div>

        <div class="card__info">
          Visit ten places on our planet that are undergoing the biggest changes
          today.Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </div>
        <div class="card__actions">
          <div class="card__read"><a href="">READ</a></div>
          <div class="card__bookmark"><a href="">BOOKMARK</a></div>
          <div class="card__like">
            <a href=""><i class="fas fa-share-alt"></i></a>
          </div>
          <div class="card__share">
            <a href=""><i class="far fa-heart"></i></a>
          </div>
          <div class="card__vert">
            <a href=""><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card__outline card_3-size">
        <div class="card__media-title--card_3">
          <div class="card__media">
            <img
              class="img-card_3"
              src="https://cdn.wallpapersafari.com/52/47/VKjh5B.jpg"
              alt=""
            />
          </div>
          <div class="card__content--card_3">
            <div class="card__heading">Black Panther</div>
            <div class="card__author">by Kurt Wagner</div>
          </div>
        </div>
        <div class="card__actions">
          <div class="card__read"><a href="">READ</a></div>
          <div class="card__bookmark"><a href="">BOOKMARK</a></div>
          <div class="card__like">
            <a href=""><i class="fas fa-share-alt"></i></a>
          </div>
          <div class="card__share">
            <a href=""><i class="far fa-heart"></i></a>
          </div>
          <div class="card__vert">
            <a href=""><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </div>
      </div>

      <!-- Card 4 -->

      <div class="card__outline">
        <!-- <div class="card__media"> -->

        <!-- </div> -->
        <div class="card__content">
          <div class="card__heading">Black Panther</div>
          <div class="card__author">by Kurt Wagner</div>
        </div>
        <img
          class="img__card-4"
          src="https://cdn.wallpapersafari.com/52/47/VKjh5B.jpg"
          alt=""
        />
        <div class="card__info">
          Visit ten places on our planet that are undergoing the biggest changes
          today.Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </div>
        <div class="card__actions">
          <div class="card__read"><a href="">READ</a></div>
          <div class="card__bookmark"><a href="">BOOKMARK</a></div>
          <div class="card__like">
            <a href=""><i class="fas fa-share-alt"></i></a>
          </div>
          <div class="card__share">
            <a href=""><i class="far fa-heart"></i></a>
          </div>
          <div class="card__vert">
            <a href=""><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
