/* || Brand version and  positioning of header*/
.brand__version {
  border: 2px solid #f8fafc;
  border-radius: 9999px;
}
.header-position {
  border-bottom: 2px solid #334155;
}

.lrg-scr,
.left-nav__docs,
.left-nav__github,
.brand__name {
  display: none;
}
.left-nav__docs:hover,
.left-nav__github:hover,
.left-nav__mode:hover {
  color: white;
}

/* || Media Query for brand-content */
@media (min-width: 1280px) {
  .lrg-scr {
    display: flex;
  }
}

@media (min-width: 736px) {
  .left-nav__docs,
  .left-nav__github {
    display: flex;
  }
  .brand {
    margin-left: 3rem;
  }
  .left-nav {
    margin-right: 3rem;
  }
}
@media (min-width: 432px) {
  .brand__name {
    display: flex;
  }
}
