* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: beige; */
}
:root {
  --bg-color1: #0f0c29;
  --bg-color2: #24243e;
  --bg-color3: #302b63;
  --heading-color: #f8fafc;
  --txt-color: #cbd5e1;
  /* --light-color:; */
  /* --dull-color:; */
}

body {
  color: var(--txt-color);
  /* background-color: #0f172a; */
  background-color: rgb(0, 30, 60);
}
div {
  margin: 0.2rem;
  padding: 0.5rem;
}

.heading-lg {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--heading-color);
}

.heading-md {
  font-size: 1.3rem;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 
.txt-small{}
.txt-large{} */
