<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="dialogue.css" />
  </head>
  <body>
    <!--  -->
    <div class="dialogue_window">
      <div class="dialogue_header">Set backup account</div>
      <div class="dialogue_content">
        <div class="dialogue_email">
          <span class="icon"><i class="fas fa-user-circle fa-2x"></i></span>
          <span class="email"> <a href="">example@gmail.com </a> </span>
        </div>
        <div class="dialogue_email">
          <span class="icon"><i class="fas fa-user-circle fa-2x"></i></span>
          <span class="email"> <a href=""> threatlevel99@fortnite.com</a></span>
        </div>
        <div class="dialogue_action">
          <span class="icon"><i class="fas fa-plus-circle fa-2x"></i></span>
          <span class="email"><a href=""> Add Account</a></span>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="dialogue_window long">
      <div class="dialogue_header">Use Google's location service?</div>
      <div class="dialogue_content">
        Let Google help apps determine location. This means sending anonymous
        location data to Google, even when no apps are running.
        <div class="dialogue_action type-2-pos">
          <a href="" class="action_btn">Agree</a>
          <a href="" class="action_btn">Disagree</a>
        </div>
      </div>
    </div>

    <!-- -->
    <div class="dialogue_window sx-scroll">
      <div class="dialogue_header">Dialogue Header</div>
      <div class="dialogue_content scroll">
        <div class="item_list">
          <div class="item">
          <span><input type="radio" />Item 1 </span>
        </div>
        <div class="item">
          <span><input type="radio" />Item 2 </span>
        </div>
        <div class="item">
          <span><input type="radio" />Item 3 </span>
        </div>
        <div class="item">
          <span><input type="radio" />Item 4 </span>
        </div>
        <div class="item">
          <span><input type="radio" />Item 5 </span>
        </div>
        <div class="item">
          <span><input type="radio" />Item 6 </span>
        </div>
      </div>
      <div class="dialogue_action">
        <a href="" class="action_btn">Action 1</a>
        <a href="" class="action_btn">Action 2</a>
      </div>
    </div>

    <!--  -->
  </body>
</html>
