<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css_dir/global.css" />
    <link rel="stylesheet" href="../css_dir/sitewide/header.css" />
    <link rel="stylesheet" href="../css_dir/context.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="header-position">
    <header class="header">
      <section class="brand">
        <div class="brand__img">Image</div>
        <div class="brand__name heading-lg">BrandName</div>
        <div class="brand__version">v1.0.01</div>
        <div class="brand__version lrg-scr">BrandName v1.0.01 - collection of customized components dynamically designed</div>
      </section>

      <section class="left-nav">
        <div class="left-nav__docs heading-md "><a href="">Docs</a></div>
        <div class="left-nav__mode heading-md "><a href="">Mode</a></div>
        <div class="left-nav__github heading-md ">
          <a href="#"><i class="fab fa-github"></a></i>
        </div>
      </section>
    </header>
    </div>
    
    
  </body>
</html>
