<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="chip_container">
      <div class="smallTitle">Chip Title</div>
      <div class="chip-area">
        <div class="chip">
          <span class="chip-content">Lemon</span>
          <span class="chip-actions"> </span>
        </div>
        <div class="chip">
          <span class="chip-content">Lemon</span>
          <span class="chip-actions"> </span>
        </div>
        <div class="chip">
          <span class="chip-content">Lemon</span>
          <span class="chip-actions"> </span>
        </div>
        <div class="chip">
          <span class="chip-content">Lemon</span>
          <span class="chip-actions"></span>
        </div>
        <div class="chip">
          <span class="chip-content">Lemon</span>
          <span class="chip-actions"> </span>
        </div>
        <div class="chip">
          <span class="chip-content">Lemon</span>
          <span class="chip-actions"></span>
        </div>
      </div>
    </div>

    <div class="chip_container">
      <div class="addChips">
        <div class="smallTitle">Adding Chips</div>
        <input type="text" id="add_chip" />
        <button class="smallTitle add">Add Chip</button>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
