/* || General Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.header-position {
  position: sticky;
  top: 0;
  margin: 0;
}

/* || Brand */
.brand {
  display: flex;
  /* margin: 1rem; */
  margin-left: 1rem;
  align-items: center;
}

/* || Left Navigation tool */
.left-nav {
  display: flex;
  margin: 1rem;
  margin-right: 1rem;
  align-items: center;
}
