<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="trial.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="nav-container">
      <header>
        <div class="nav-title">Mail</div>
        <div class="navbar side_i">
          <a href=""><i class="fas fa-bars"></i></a>
        </div>
      </header>
      <ul class="navigation">
        <div class="nav-cat">example@gmail.com</div>
        <div>
          <li class="nav-segment">
            <a href=""
              ><i class="fas fa-inbox side_i"></i
              ><span class="item">Inbox </span></a
            >
          </li>
          <li class="nav-segment">
            <a href=""
              ><i class="fas fa-star side_i"></i
              ><span class="item">Star</span></a
            >
          </li>
          <li class="nav-segment">
            <a href=""
              ><i class="fas fa-paper-plane side_i"></i
              ><span class="item">Sent Mail</span></a
            >
          </li>
          <li class="nav-segment">
            <a href=""
              ><i class="fas fa-envelope-open side_i"></i
              ><span class="item">Drafts</span></a
            >
          </li>
        </div>

        <div class="nav-cat">Labels</div>
        <div>
          <li class="nav-segment">
            <a href=""
              ><i class="fas fa-inbox side_i"></i
              ><span class="item">Inbox</span></a
            >
          </li>
          <li class="nav-segment">
            <a href=""
              ><i class="fas fa-star side_i"></i
              ><span class="item">Star</span></a
            >
          </li>
          <li class="nav-segment">
            <a href=""
              ><i class="fas fa-paper-plane side_i"></i
              ><span class="item">Sent Mail</span></a
            >
          </li>
          <li class="nav-segment">
            <a href=""
              ><i class="fas fa-envelope-open side_i"></i
              ><span class="item">Drafts</span></a
            >
          </li>
        </div>
      </ul>
    </div>
  </body>
</html>
