<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Badge.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Badges</h1>

    <div class="txt-badge">
      <span class="txt">Text with a badge</span>
      <span class="badge">10</span>
    </div>
    <br /><br />
    <div class="txt-badge lrg-bdg">
      <span class="txt">Text with a large badge</span>
      <span class="badge lrg">10</span>
    </div>

    <!-- Button Badges -->
    <h2>Button with a large badge</h2>
    <button class="button-badge">
      <span class="badge_action">Action</span>
      <span class="badge-icon">10</span>
    </button>
    <br />
    <br />

    <button class="button-badge light-mode">
      <span>Action</span>
      <span class="badge-icon">10</span>
    </button>

    <br />
    <br />

    <button class="button-badge light-mode">
      <span class="badge_content">Notifications</span>
      <span class="badge-rect">1</span>
    </button>

    <h2>Other Badges</h2>
    <div class="default">Default</div>
    <div class="default-inversion">Default</div>

    <h2>Badge-icon</h2>

    <div class="icon__badges">
      <span class="badge-notifs"
        ><a href=""> <i class="fas fa-bell fa-3x bell"></i> </a
      ></span>
      <span class="badge-icon pos2">10</span>
    </div>

    <div class="primary"></div>
    <div class="secondary"></div>
    <div class="warning"></div>
    <div class="info"></div>
    <div class="light"></div>
    <div class="dark"></div>
  </body>
</html>
