<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="snackbar.css" />
  </head>
  <body>
    <h2>Snack Bars</h2>
    <h3>Simple SnackBar</h3>
    <div class="action-btn">
      <button class="btn toggle-btn-1">Open Simple SnackBar</button>
    </div>

    <div class="snackBar_outline pos1">
      <div class="sanckBar_content">Can't send photo retry in 5 seconds</div>
      <div class="snackBar_action">
        <span><a href="">Retry</a></span>
        <span class="snackBar-icon"
          ><a href=""><i class="fas fa-window-close fa-2x"></i></a
        ></span>
      </div>
    </div>

    <h3>Simple SnackBar Dark</h3>
    <div class="action-btn">
      <button class="btn toggle-btn-2">Open Simple SnackBar</button>
    </div>
    <div class="snackBar_outline dark pos2">
      <div class="sanckBar_content light">
        Can't send photo retry in 5 seconds
      </div>
      <div class="snackBar_action">
        <span><a href="" class="light">Retry</a></span>
        <span class="snackBar-icon light"
          ><a href="" class="light"><i class="fas fa-window-close fa-2x"></i></a
        ></span>
      </div>
    </div>

    <h3>Error SnackBar</h3>
    <div class="action-btn">
      <button class="btn toggle-btn-3">Open Error SnackBar</button>
    </div>
    <div class="snackBar_outline error pos3">
      <div class="sanckBar_content light">Can't send photo - ERROR</div>
      <div class="snackBar_action">
        <span class="snackBar-icon"
          ><a href="" class="light"
            ><i class="fas fa-exclamation-circle fa-2x"></i></a
        ></span>
      </div>
    </div>
    <!-- <script src="script.js"></script> -->

    <h3>Success SnackBar</h3>
    <div class="action-btn">
      <button class="btn toggle-btn-4">Open Sucess SnackBar</button>
    </div>
    <div class="snackBar_outline success pos3">
      <div class="sanckBar_content light">Can't send photo - SUCCESS</div>
      <div class="snackBar_action">
        <span class="snackBar-icon"
          ><a href="" class="light"><i class="far fa-check-circle fa-2x"></i></a
        ></span>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
